@import '../libs/variables.scss';

.channelContainer{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 48px;
  .loginContainerOverlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
    top: 0;
    left: 0;
  }
  .loading{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
  }
  .notFound{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .about{
    margin:10px 80px;
    font-family: 'Helvetica Light';
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
    color: $black;
  }
  .lastPost{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 50px 0;
      box-sizing: border-box;
      @media only screen and (min-width: 750px) { 
        justify-content: left;
        font-size: 16px;
      }
    .thumb{
      display: inline-block;
      width: 100%;
      max-width: 450px;
      object-fit: cover;
    }
    .lastPostInfo{
      display: inline-block;
      vertical-align: top;
      width: 100%;
      max-width: 450px;
      min-width: 300px;
      padding: 0 15px 0 15px;
      box-sizing: border-box;
      flex: 1;
      .title{
        font-family: 'Helvetica';
        font-weight: bold;
        font-size: 18px;
        margin: 0 0 10px 0;
      }
      .description{
        font-family: 'Helvetica Light';
        line-height: 20px;
      }
      .date{
        width: 100%;
        display: block;
        margin-top: 20px;
        font-family: 'Helvetica Light';
        font-size: 14px;
      }
    }
  }
  
}