@import '../libs/variables.scss';

.channelHeader{
  position: relative;
  .cover{
    object-fit: cover;
    width: 100%;
    height: 200px;
    transition: height 1s ease-in-out;
    &.post{
      height: 0;
    }
  }
  .profile{
    @extend .inputStyle;
    object-fit: cover;
    display: inline-block;
    width: 35vw;
    height: 35vw;
    max-width: 170px;
    max-height: 170px;
    margin-left: 20px;
    margin-top: -50px;
    @media only screen and (min-width: 600px) { 
      margin-left: 60px;
      width: 170px;
      height: 170px;
    }
  }
  .info{
    padding: 10px 20px 20px 20px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: fit-content;
    @media only screen and (min-width: 600px) { 
      padding: 30px 20px 20px 20px;
      font-size: wrap;
    }
    .link{
      text-decoration: none;
      color: black;
    }
    .name,.description{
      font-family: 'Helvetica Light';
    }
    .name{
      font-size: 20px;
      @media only screen and (min-width: 600px) { 
        font-size: 30px;
      }
    }
    .description{
      margin-top: 5px;
      font-size: 14px;     
      @media only screen and (min-width: 600px) { 
        font-size: 16px;
      }
    }
  }
  .followArea{
    margin-top: 10px;
    .follow{
      @extend .inputStyle;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    label{
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      font-size: 12px;
      cursor: pointer;
    }
    &:hover{
      .follow{
        background-color: $lightGreen;
      }
    }
    &.active{
      .follow{
        background-color: $lightGreen;
      }
    }
  }
  
}
