@import '../libs/variables.scss';

.container{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  @media only screen and (min-width: 600px) { 
    flex-wrap: wrap;
    margin: 20px auto 50px auto;
    width: 100%;
    max-width: calc(80% + 40px);
  }
  @media only screen and (min-width: 875px) { 
    margin: 0 auto 50px auto;
  }
  .filtersSelectors{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    .previous{
      display: block;
      position: absolute;
      z-index: 1;
      box-sizing: border-box;
      width: 30px;
      height: 100%;
      background-image: linear-gradient(to left, transparent 0, $backgroundLightGray 20%);
      top: 0;
      left: 0;
      @media only screen and (min-width: 600px) { 
        display: none;
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        top: 50%;
        left: 5px;
        transform: translate(50%, -50%) rotate(45deg);
      }
    }
    .next{
      display: block;
      position: absolute;
      box-sizing: border-box;
      width: 30px;
      height: 100%;
      background-image: linear-gradient(to right, transparent 0, $backgroundLightGray 20%);
      top: 0;
      right: 0;
      @media only screen and (min-width: 600px) { 
        display: none;
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        top: 50%;
        right: 5px;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    @media only screen and (min-width: 600px) { 
      flex-wrap: wrap;
    }
    .selector{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin: 35px 3.5%;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      &.last{
        padding-right: 40px;
      }
      @media only screen and (min-width: 600px) { 
        margin: 20px;
        &.last{
          padding-right: 0;
        }
      }
      .active{
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $green;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        right: 0px;
      }
      .hidden{
        position: absolute;
        border-top: 2px solid $red;
        height: 0;
        width: calc(100% + 12px);
        top: 50%;
        right: -6px;
        transform: rotate(-45deg);
      }
      .iconContainer{
        background-color: $lightGray;
        box-shadow: inset 1px 1px 5px $lightShadow;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .5s cubic-bezier(0.630, 1.235, 1.000, 0.965);
        .icon{
          width: 32px;
        }
      }
      .filterLabel{
        margin-top: 5px;
        font-size: 14px;
        position: absolute;
        bottom: -25px;
        color: $gray;
        transition: color .5s cubic-bezier(0.630, 1.235, 1.000, 0.965);
      }
      &:hover{
        .iconContainer{
          background-color: $gray;
        }
        .filterLabel{
          color: $black;
        }
      }
      &.selected{
        .iconContainer{
          background-color: $gray;
        }
        .filterLabel{
          color: $black;
        }
      }
    }
  }
  .iconFields{
    z-index: 1;
    width: 100%;
    top: 120%;
    position: absolute;
    background-color: rgba(247,247,247,.8);
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    // border-bottom:2px solid $lightGray;
    transition: max-height .5s ease-in-out;
    max-height: 0;
    overflow: hidden;
    @media only screen and (min-width: 875px) { 
      width: 120% ;
      left: -10%;
    }
    &.active{
      max-height: 500px;
      padding: 20px 50px;
    }
    .checkItem{
      margin: 10px 0;
      position: relative;
      .checkInput,.radioInput{
        margin-right: 10px;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        &:checked + .inputStyle::after{
          content: '';
          display: block;
          width: 10px;
          position: absolute;
          height: 10px;
          left: 25%;
          top: 25%;
          background-color: $green;
        }
        &:checked + .radioStyle::after{
          content: '';
          display: block;
          width: 10px;
          position: absolute;
          height: 10px;
          left: 25%;
          top: 25%;
          background-color: $green;
          border-radius: 50%;
        }
      }
      .inputStyle,.radioStyle{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0px;
        background-color: $gray;
        cursor: pointer;
      }
      .radioStyle{
        border-radius: 50%;
      }
    }
    .hide{
      color: $red;
    }
  }
}
