@import '../libs/variables.scss';

.newPostContainer{
  label{
    display: block;
    margin: 25px 0 5px 0;
    font-family: 'Helvetica Light';
    font-size: 14px;
  }
  .field{
    &.title{
      font-size: 24px;
    }
    @extend .inputStyle;
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  .youtubeInput{
    position: relative;
    display: block;
    .loadVideoButton{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      color: $green;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .videoContainer{
    position: relative;
    width: 100%;
    padding-top:56.25%;
    box-sizing: border-box;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .postContentToolbar{
    background-color: transparent;
    justify-content: center;
    border: none;
  }
  .postContentField{
    @extend .inputStyle;
    justify-content: center;
    min-height: 500px;
    border: none;
  }

  .sendButton{
    display: block;
    width: fit-content;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: $lightGray;
    border: none;
    font-size: 14px;
    &.active{
      background-color: $lightGreen;
      cursor: pointer;
      &:hover{
        background-color: $green;
      }
    }
  }
}