@import '../libs/variables.scss';

.loadingContainer{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,.8);
  z-index: 3;
  .loading{
    display: block;
    width: 80px;
    position: fixed;
    left: 57%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
.about{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 14px;
  font-family: 'Helvetica Light';
  .dragAndDropArea{
    @extend .inputStyle;
    height: 200px;
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 10px 20px 10px;
  }
  .imagePreview{
    display: block;
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin: 0 10px 20px 10px;
    object-fit: cover;
  }
  .namingContainer{
    margin: 0 20px;
    flex: 1;
    min-width: 300px;
    label{
      display: block;
      margin: 25px 0 5px 0;
    }
    .fieldContainer{
      position: relative;
      display: block;
    }
    .field{
      @extend .inputStyle;
      display: block;
      margin-bottom: 10px;
      width: 100%;
    }
    .addIcon{
      position: absolute;
      display: block;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      &:before{
        content: '';
        position: absolute;
        display: block;
        width: 15px;
        height: 2px;
        background-color: $green;
      }
      &:after{
        content: '';
        position: absolute;
        display: block;
        width: 15px;
        height: 2px;
        background-color: $green;
        transform: rotate(90deg)
      }
    }
    .popularNamesContainer{
      padding: 0 0 10px 0;
      min-height: 46px;
      box-sizing: border-box;
      .popularName{
        display: inline-block;
        position: relative;
        width: fit-content;
        border-radius: 15px;
        background-color: $lightGreen;
        padding: 5px 20px 5px 10px;
        margin-right: 15px;
        margin-bottom: 10px;
        .delete{
          position: absolute;
          right: 5px;
          top: calc(50% - 6px);
          width: 10px;
          height: 10px;
          padding: 0;
          margin: 0;
          background: none;
          border: none;
          cursor: pointer;
          &:before{
            position: absolute;
            content: '';
            display: block;
            width: 10px;
            height: 2px;
            transform: rotate(-45deg);
            background-color: $red;
          }
          &:after{
            position: absolute;
            content: '';
            display: block;
            width: 10px;
            height: 2px;
            transform: rotate(45deg);
            background-color: $red;
          }
        }
      }
    }
  }
}
.requiredDisclaimer{
  padding: 0;
  margin: 0 10px 30px 10px;
  font-size: 14px;
  color: green;

}
.filterTags{
  font-family: 'Helvetica Light';
  font-size: 14px;
  margin: 0 10px;
  .filterSectionTitle{
    color: $green;
    font-family: 'Helvetica';
  }
  .filterSectionSeparator{
    margin: 30px 0;
    border: none;
    border-top: 2px solid $lightGray;
  }
  .checkItem{
    position: relative;
    margin: 10px 0;
    .checkInput{
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      &:checked + .checkBoxStyle::after{
        content: '';
        display: block;
        width: 10px;
        position: absolute;
        height: 10px;
        left: 25%;
        top: 25%;
        background-color: $green;
      }
    }
    .checkBoxStyle{
      @extend .inputStyle;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .inputText{
      display: inline-block;
      vertical-align: middle;
    }
  } 
}
.aboutText{
  padding: 0 10px;
  .aboutTextField{
    @extend .inputStyle;
    width: 100%;
    min-height: 200px; 
    resize: none;   
    box-sizing: border-box;
    outline: none;
    white-space: pre-line;
  }
}

.sendButton{
  display: block;
  width: fit-content;
  padding: 10px 20px;
  margin: 20px auto;
  background-color: $lightGray;
  border: none;
  font-size: 14px;
  &.active{
    background-color: $lightGreen;
    cursor: pointer;
    &:hover{
      background-color: $green;
    }
  }
}

