@import '../libs/variables.scss';

.presentationText{
  width: 100%;
  max-width: 864px;
  margin: 25px auto;
  padding: 0 20px;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Helvetica Light';
  box-sizing: border-box;
}
.divisor{
  border: 2px solid $lightGray;
  border-bottom: 0;
}