@import '../libs/variables.scss';

.container{
  margin: 20px auto;
  @media only screen and (min-width: 875px) { 
    margin: 50px auto 0 auto;
  }
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .searchInput, .selectInput{
    @extend .inputStyle;
    margin-bottom: 20px;
  }
  .searchInputContainer{
    width: 50%;
    min-width: 250px;
    position: relative;
    .searchIcon{
      position: absolute;
      left: 20px;
      top: 13px;
      width: 13px;
      opacity: .5;
    }
    .searchInput{
      width: 100%;
      padding-left: 40px; 
    }
  }
  .selectInput{
    width: 20%;
    min-width: 235px;
    text-align: center;
    text-indent: 10px;
    color: rgba(0,0,0,.5);
  }
}